
.image-thumbnails{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.technologies-row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    justify-content:space-evenly;
}
.lang-img img{
    width: 12vw;
    height: 13vw;
    margin-right: 100px;
}
.lang-txt{
    text-align: center;
}
.technical {
    align-items: center;
    align-items: center;
}
.aota{
    margin-right:5px;
}